/**
 * $Horde: horde/themes/brown/screen.css,v 1.6.6.2 2006/02/22 22:55:07 slusarz Exp $
 */

body {
    background: #505050;
    scrollbar-base-color: #505050;
    scrollbar-arrow-color: #cfcfbb;
}
html {
    scrollbar-base-color: #505050;
    scrollbar-arrow-color: #cfcfbb;
}
a {
    color: #505050;
}
a:hover {
    color: #505050;
}
a.widget:hover {
    color: #505050;
    background-color: #ebebd7;
}
.header {
    color: #505050;
    background: #bba;
}
.smallheader {
    color: #505050;
    background: #bba;
}
.control {
    background: #dedebb;
}
.item {
    background-color: #ebebd7;
}
.button {
    background-color: #505050;
    border-bottom: thin solid #224;
    border-right: thin solid #224;
    border-top: thin solid #cfcfbb;
    border-left: thin solid #dedebb;
    color: #fff;
}
.selected {
    background-color: #cdcdcd;
}
.item1 {
    background-color: #e6e6de;
}

/* Menu styles. */
#menu {
    color: #000;
    background: #bba;
    border-bottom: 1px solid #000;
}
#menu a.current {
    background: #bfbfaa;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
}

/* Sidebar styles. */
#sidebarPanel {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #bba;
}
#expandButton {
    margin-right: 1px;
}
