/**
 * $Horde: imp/themes/simplex/screen.css,v 1.1 2004/10/17 20:37:47 mdjukic Exp $
 */

.important {
    background-color: #EBC2C2;
}
.unseen {
    background-color: #D3D3D3;
}
.answered {
    background-color: #CEDFEC;
}
