<tag:notify />

<table class="striped" cellspacing="0" width="100%">
  <tr>
    <td class="header">
      <gettext>Application</gettext>
    </td>
    <td class="header">
      &nbsp;
    </td>
    <td class="header">
      <gettext>Status</gettext>
    </td>
  </tr>
  <loop:apps>
  <tr>
    <td>
      <tag:apps.name />
      <tag:apps.version />
    </td>
    <td align="center">
      <tag:apps.conf />
    </td>
    <td>
      <tag:apps.status />
    </td>
  </tr>
  </loop:apps>
</table>
<br />

<table id="update" cellspacing="0" width="100%">
  <tr valign="top">
    <td width="50%">
      <if:actions>
      <h1 class="header">
       <gettext>Setup upgrade scripts available</gettext>
      </h1>
      <table class="striped" cellspacing="0" width="100%">
       <loop:actions>
        <tr>
         <td>
          <tag:actions.icon /> <tag:actions.link />
         </td>
        </tr>
       </loop:actions>
      </table>
      </if:actions>
    </td>
    <td width="50%">
      <if:ftpform>
        <tag:ftpform />
      </if:ftpform>
    </td>
  </tr>
</table>
