/**
 * $Horde: imp/themes/cherry/screen.css,v 1.1 2004/10/17 20:49:39 mdjukic Exp $
 */

.important {
    background-color: #FFFFAA;
}
.unseen {
    background-color: #FFCC99;
}
.answered {
    background-color: #DDDDDD;
}
