/**
 * $Horde: imp/themes/grey/screen.css,v 1.1 2004/10/17 20:49:39 mdjukic Exp $
 */

.important {
    background-color: #a56363;
}
.unseen {
    background-color: #d3d3d3;
}
.answered {
    background-color: #b7ccb7;
}
