/**
 * $Horde: horde/themes/bluemoon/screen.css,v 1.13.6.3 2005/10/18 11:34:11 jan Exp $
 */

body {
    font-family: Luxi Sans,Verdana;
    background: #003893;
    scrollbar-base-color: #003893;
    scrollbar-arrow-color: #0168db;
}
html {
    scrollbar-base-color: #003893;
    scrollbar-arrow-color: #0168db;
}
input {
    font-family: Luxi Sans,Verdana;
}
select {
    font-family: Luxi Sans,Verdana;
    font-weight: normal;
}
td {
    font-family: Luxi Sans,Verdana;
}
th {
    font-family: Luxi Sans,Verdana;
}
img {
    border: none;
}
a {
    font-family: Luxi Sans,Verdana;
    color: #003Cff;
}
a:hover {
    color: #003893;
}
a.widget {
    color: #003Cff;
    font-size: 0.9em;
}
a.widget:hover {
    color: #003893;
    background: #0168db;
}
.header {
    color: #270042;
    background: #0168db;
    font-family: Luxi Sans,Verdana;
    font-size: 16px;
}
.header a {
    color: #270042;
}
td.header {
    padding-left: 3px;
    padding-right: 3px;
}
a.header {
    color: #00a8ff;
}
.light {
    color: #fff;
    font-family: Luxi Sans,Verdana;
}
a.light:hover {
    color: #FFC800;
}
.smallheader {
    color: #270042;
    background: #0168db;
    font-family: Luxi Sans,Verdana;
    font-size: 14px;
}
a.smallheader {
    color: #00a8ff;
}
.small {
    font-family: Luxi Sans,Verdana;
    font-size: 0.8em;
}
.control {
    color: #000;
    background-color: #d1d1d1;
}
.item {
    color: #000;
    background-color: #e9e9e9;
}
.button {
    color: #fff;
    background-color: #2b73d5;
    border-bottom: thin solid #99c;
    border-right: thin solid #99c;
    border-top: thin solid #000;
    border-left: thin solid #000;
    font-size: 12px;
    font-family: Luxi Sans,Verdana;
    -moz-border-radius: 5px;
}
.button:hover {
    background-color: #1165ff;
}
.selected {
    background-color: #bbcbff;
}
.fixed {
    font-size: 13px;
    font-family: Monaco,Courier,monospaced,fixed;
}
.selected-over {
    background-color: #cceeff;
}
.tooltip {
    font-size: 10px;
    background-color: #ffc;
    border: 1px solid #000;
    padding: 2px;
}
.accessKey {
    text-decoration: underline;
}
a.header:hover {
    color: ;
}
a.currentTab:hover {
    color: ;
}
.notice {
    background-color: #ffc;
}
.signature {
    color: #606060;
}
.signature-fixed {
    color: #606060;
    font-size: 10px;
    font-family: Monaco,Courier,monospaced,fixed;
}

/* Table styles. */
.linedRow {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.linedRowSelectedCol {
    color: #000;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0 {
    background-color: #f3f3f3;
}
.rowOdd, .item1 {
    background-color: #e9e9e9;
}

/* Menu styles. */
#menu {
    color: #fff;
    background-color: #0168db;
    font-family: Luxi Sans,Verdana;
}
#menu a {
    color: #fff;
}
#menu a.current {
    color: #fff;
    background: #0168bb;
    border-bottom: 1px solid #99c;
    border-right: 1px solid #99c;
    border-top: 1px solid #023064;
    border-left: 1px solid #023064;
    padding: 2px;
    -moz-border-radius: 5px;
}

/* Sidebar styles. */
#sidebarPanel {
    background-color: #0168db;
}
#sidebarPanel span, #sidebarPanel a {
    font-weight: bold;
    color: #fff;
}
#sidebarPanel a:hover {
    color: #ffc800;
}
