/**
 * $Horde: horde/themes/green/screen.css,v 1.5.6.4 2005/10/18 11:34:17 jan Exp $
 */

body {
    background: #104e4c;
    scrollbar-base-color: #104e4c;
    scrollbar-arrow-color: #136865;
}
html {
    scrollbar-base-color: #104e4c;
    scrollbar-arrow-color: #136865;
}
a {
    color: #136865;
}
a:hover {
    color: #fb9108;
}
.header {
    color: #fff;
    background: #136865;
}
.header a {
    color: #fff;
}
.smallheader {
    background: #136865;
}
.control {
    background: #ffd368;
}
.item {
    background: #f4d793;
}
.button {
    color: #000;
    background-color: #fba208;
    border-bottom: thin solid #f7e0aa;
    border-right: thin solid #f7e0aa;
    border-top: thin solid #ffd368;
    border-left: thin solid #ffd368;
}
.selected {
    background-color: #f5c144;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #136865;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #288;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #288;
}
#sidebarPanel a {
    color: #fff;
    border: 1px solid #288;
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel a:hover {
    color: #000;
    background-color: #ccc;
    border: 1px solid #000;
    text-decoration: none;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}
