/**
 * $Horde: imp/themes/rtl.css,v 1.1.2.2 2006/05/03 20:31:15 jan Exp $
 * S.Niksefat & C.Mortezania in Amirkabir MetaNET Ltd.
 */

.leftAlign {
        text-align: right;
}
.rightAlign {
        text-align: left;
}

.leftFloat {
        float: right;
}
.rightFloat {
        float: left;
}
.messageList th, .messageList td {
    text-align: right;
}
