<loop:messages>
 <tr id="row<tag:messages.uid />" class="<tag:messages.bg />">
  <td>
   <tag:overflow_begin /><input id="check<tag:messages.uid />" type="checkbox" class="checkbox" name="indices[]" onclick="selectRow(<tag:messages.uid />);" value="<tag:messages.uid /><if:search_mbox><tag:idx_separator /><tag:messages.mbox /></if:search_mbox>" /><if:messages.status><label for="check<tag:messages.uid />"><tag:messages.status /></label></if:messages.status><tag:overflow_end />
  </td>
  <td<if:messages.color> style="background:<tag:messages.color />"</if:messages.color>>
   <tag:overflow_begin /><tag:messages.number /><tag:overflow_end />
  </td>
  <td><tag:overflow_begin /><tag:messages.date />&nbsp;<tag:overflow_end /></td>
  <td><tag:overflow_begin /><tag:messages.from />&nbsp;<tag:overflow_end /></td>
  <td><tag:overflow_begin /><tag:messages.subject /><tag:overflow_end /></td>
  <td align="right"><tag:overflow_begin /><tag:messages.size /><tag:overflow_end /></td>
 </tr>
</loop:messages>
