/**
 * This theme as been written by AIDE Florent <faide@alphacent.com> and
 * Mélanie Gareau <melanie.gareau@ville-gennevilliers.fr>
 *
 * The theme idea was to incorporate smoothly in the Intranet.
 * This theme is published under the same license as the horde package.
 *
 * The name comes from the city of Gennevilliers in France
 *
 * $Horde: imp/themes/gennevilliers/screen.css,v 1.1 2004/10/17 20:49:39 mdjukic Exp $
 */

.unseen {
    background-color: #EEEEFF;
}
.deleted {
    background-color: #999999;
}
.important {
    background-color: #FFCCCC;
}
.answered {
    background-color: #d6ffff;
}
.quotawarn {
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #ea5d1c;
    background-color: #f4ee7a;
}
.quotaalert {
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #f4ee7a;
    background-color: #ea5d1c;
}
