/**
 * Author: Joost De Cock <joost@decock.org>
 *
 * $Horde: imp/themes/azur/screen.css,v 1.1 2004/10/17 20:49:38 mdjukic Exp $
 */

.deleted {
    background-color: #bbbbbb;
    color: #eeeeee;
}
.important {
    background-color: #fcd3ff;
    color: #ff0000;
}
.unseen {
    background-color: #bec0dd;
    color: #000000;
}
.answered {
    background-color: #e8e8ff;
    color: #666666;
}
.quoted1 {
    color: #660066;
}
.quoted2 {
    color: #007777;
}
.quoted3 {
    color: #990000;
}
.quoted4 {
    color: #000099;
}
.quoted5 {
    color: #bb6600;
}
.signature {
    color: #bbbbbb;
}
.signature-fixed {
    color: #bbbbbb;
    font-size: 13px;
    font-family: monospace, fixed;
}
.quotawarn {
    color: black;
    background-color: yellow;
}
.quotaalert {
    color: white;
    background-color: red;
}
