/**
 * $Horde: horde/themes/ie6_or_less.css,v 1.1.2.2 2006/10/07 13:34:34 jan Exp $
 *
 * CSS corrections for IE.
 */

#sidebar-frame {
    overflow-x: hidden;
}

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}
