/**
 * $Horde: horde/themes/opera.css,v 1.1.2.4 2005/10/18 11:34:10 jan Exp $
 *
 * CSS corrections for Opera.
 */

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}
