/**
 * $Horde: horde/themes/safari.css,v 1.1.2.6 2005/10/18 11:34:10 jan Exp $
 *
 * CSS corrections for Safari.
 */

img {
    vertical-align: baseline;
}

.treeRow {
    overflow: visible;
    height: 20px;
}

.treeRow img {
    vertical-align: middle;
}

#menu {
    overflow: visible;
    height: 50px;
}
