/**
 * $Horde: kronolith/themes/print/screen.css,v 1.2.2.3 2007/02/13 14:27:29 jan Exp $
 */

.rowEven, .rowOdd {
    background-color: #fff;
    border-bottom: 1px solid #000;
}
.day, .othermonth, .weekend, .selected-control {
    background-color: #fff;
    color: #000;
}
.today {
    border-color: #000;
}
